#popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
}

#popupDiv {
    width: 600px;
    height: 200px;
    background-color: cornsilk;
}

#popupDiv #changeForm {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#changeText {
    height: 80%;
}

#changeButton {
    height: 100%;
    width: 50%
}

#canselButton {
    height: 100%;
    width: 50%
}

#changeForm div {
    display: flex;
    height: 20%;
}

body {
    margin: 0;
}

#upline {
    width: 100%;
    height: 1px;
    background-color: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.chat {
    background-color: aliceblue;
    width: 80%;
    margin: 50px auto;
    height: 80vh;
}

.message {
    display: flex;
    align-items: flex-start;
    width: 80%;
    background-color: antiquewhite;
    padding: 15px;
    margin: 15px 30px 15px auto;
}

#messagesContainer img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.message p {
    margin: 10px 0px;
}

.message.your {
    width: 80%;
    background-color: rgb(203, 239, 255);
    padding: 15px;
    margin: 15px 30px;
}

.messages {
    overflow-y: scroll;
    height: 85%;
}

#sendMessage {
    height: 15%;
    background-color: azure;
    width: 100%;
}

#sendMessage form {
    display: flex;
    padding: 20px;
    height: 100%;
}

#sendMessage textarea {
    width: 80%;
    height: calc(100% - 40px)
}

#sendMessage button {
    width: 20%;
    height: calc(100% - 40px)
}

.dateAndButton {
    display: flex;
    justify-content: space-between;
}

.message.your button {
    display: block;
}

.message button {
    display: block;
}

.messageContainer {
    width: 100%;
}